p {
  text-align: center;
}
h3{
  text-align: center;
}
h1{
  text-align: center;
}
 
li{
  text-align:  center;
  
}
@media only screen and (max-width: 767px) {
h1 {
  font-size: 50px;
  font-family:"Impact";
 
  
}
p{
 font-size: 20px;
  font-family:"Impact"; 
}
h3{
  font-size: 20px;
  font-family:"Impact";
}

.list-group{
   font-family:"Impact";
}
}
@media only screen and (min-width: 768px) {
h1 {
  font-size: 40px;
  font-family:"Times New Roman", Times, Serif;
  
  
}
p{
  font-size: 20px;
}
.list-group{
   font-family:"Impact";
}
}
@media only screen and (min-width: 992px) {
h1 {
  font-size: 50px;
  
  
}
h3{
  font-size: 30px;
}
p{
   font-size: 20px;
}
.list-group{
   font-family:"Impact";
}
}
@media only screen and (min-width: 1200px) {
h1 {
  font-size: 100px;
  font-family:"Times New Roman", Times, serif;
  
  
}
p{
  font-size: 20px;
  font-family:"Times New Roman", Times, serif;
}
h3{
  font-size: 60px;
  font-family:"Times New Roman", Times, serif;
}

}

.carousel {
  display: table-cell;
  vertical-align: middle;
}

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

